            .vid-title
            {
                margin-top:0px;
                font-family: Roboto;
                line-height: 20px;
                margin-bottom: 6px;
            }

            .vid-description
            { 
               font-family:Roboto;
               display:block;
               font-size: 12px;
               margin-top: 4px;
               margin-bottom:4px;
               color:rgb(96,96,96);
            }

            .vid-type
            {
            font-family:Roboto;
               display:block;
               font-size: 12px;
               margin-top: 4px;
               margin-bottom:4px;
               color:rgb(96,96,96);
            }

            .vid-title-2
            {
                margin-top:0px;
                font-family: Roboto;
                line-height: 20px;
                margin-bottom: 6px;

            }

            .vid-description-2
            {
               font-family:Roboto;
               display:block;
               font-size: 12px;
               margin-top: 4px;
               margin-bottom:4px;
               color:rgb(96,96,96);
            }

            .vid-type-2
            {
               font-family:Roboto;
               display:block;
               font-size: 12px;
               margin-top: 4px;
               margin-bottom:4px;
               color:rgb(96,96,96);
            }
            
            .div-example
            {
              display:inline-block;
            }

            .thumbnail
            {
                width: 100%;
                border-radius: 15px;
                height:200xpx;
            }

            .thumbnail-2
            {
                width: 100%;
                border-radius: 15px;
            }

            .thumbnail-3,
            .thumbnail-4,
            .thumbnail-6
            {
                width: 100%;
                border-radius: 15px; 
               
            }

            .dp2,
            .main-dp,.dp3, .dp4,
            .dp5, .dp6
            {
                display: inline-block;
                width: 50px;
                vertical-align: top;
            }

            .profile-pic,
            .profile-pic-2,
            .main-dp-pic
            {
              width:38px;
              border-radius:50px;
            }

            .video-info,
            .video-info-2
            {
                display: inline-block;
                width:200px;
            }

            .thumbnail-row,
            .thumbnail-row-2,
            .thumbnail-row-3,
            .thumbnail-row-4,
            .thumbnail-row-5,
            .thumbnail-row-6
            {
                margin-bottom: 11px;
                position:relative;   
            }

            .video-info-grid,
            .video-grid-2
            {
             display:grid;
             grid-template-columns: 50px 1fr;  
            }

            .video-grid
            {
                display:grid;
                grid-template-columns:1fr 1fr 1fr;
                column-gap:16px;
                row-gap:40px;
                margin-top: 35px;
                padding-left:45px;
                padding-top:55px;
                background-color: rgb(251, 249, 249);
            }
            .video-time
            {
                background-color: black;
                color: white;
                position:absolute;
                right: 5px;
                bottom: 8px;
                font-family:Roboto;
                font-size: 12px;
                font-weight:500;
                padding-left:4px;
                padding-right:4px;
                padding-bottom:4px;
                padding-top:4px;
                border-radius: 4px;
            }